.stackTask {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.stack {
  display: flex;
  background: var(--gray-400);
  color: var(--white-200);
  width: 40rem;
  padding: 2rem;
  height: 5rem;
  border-radius: 1.5rem;
  margin-top: 1rem;
}

.stack p {
  display: flex;
  margin-left: 1rem;
  /* padding: 10px; */
  width: 30rem;
}

.trash {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  margin-left: 3rem;
  
}

.trash :hover{
  color: var(--red);
}